<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/echartsJs/echarts.js"></script>
    <script src="/static/echartsJs/dataTool.js"></script>
    <script src="/static/echartsJs/world.js"></script>
    <script src="/static/echartsJs/bmap.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <title>echarts</title>
</head>
<body>
    <div id="main" style="width: 1350px;height:610px;"></div>
<script type="text/javascript">

    var myChart = echarts.init(document.getElementById('main'));

        var mydata = [
          {% for val in shares_result %}
              {name:"{{ val.name }}", value:"{{ val.mysum }},{{ val.price }}"},
          {% endfor %}
        ];

        var mydatatop5=[
            {name:"AIRSTREAM VINTAGE TRAILER ADVENTURE",value:"1089,$145.00"},
            {name:"Venice Beach Walkstreet Guesthouse",value:"920,$160.00"},
            {name:"Airstream Vintage Adventure- Pt. 2",value:"840,$150.00"},
            {name:"OCEANVIEW reTREAT  on Malibu Farm",value:"782,$99.00"},
            {name:"Malibu Yurt Retreat On Organic Farm",value:"775,$195.00"}
        ];

    var geoCoordMap = {
        {% for val in shares_result %}
            '{{ val.name }}':[{{ val.longitude }},{{ val.latitude }}],
        {% endfor %}
    };
    var convertData = function (data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
            var geoCoord = geoCoordMap[data[i].name];
            if (geoCoord) {
                res.push({
                    name: data[i].name,
                    value: geoCoord.concat(data[i].value)
                });
            }
        }
        return res;
    };


     Option = {

        title: {
            text: '洛杉矶市热门民宿分布情况',
            subtext: '依据Airbnb网站开放的关于洛杉矶市的民宿信息和住客评论数据分析出热门民宿分布状况',
            left: 'center',
            textStyle: {
                color: 'black',
                fontsize:23
            }
        },
        tooltip: {
            trigger: 'item'
        },
        bmap: {
            center: [-118.381353785009,34.0806204428748],
            zoom: 5,
            roam: true,
            mapStyle: {
                styleJson: [{
                    'featureType': 'water',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'land',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#f3f3f3'
                    }
                }, {
                    'featureType': 'railway',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'highway',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#fdfdfd'
                    }
                }, {
                    'featureType': 'highway',
                    'elementType': 'labels',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'geometry',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'geometry.fill',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'poi',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'green',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'subway',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'manmade',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'local',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'labels',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'boundary',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'building',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'label',
                    'elementType': 'labels.text.fill',
                    'stylers': {
                        'color': '#999999'
                    }
                }]
            }
        },
        series : [
            {
                name: '民宿',
                type: 'scatter',
                coordinateSystem: 'bmap',
                data: convertData(mydata),
                symbolSize: 10,
                label: {
                    normal: {
                        formatter: '{b}',
                        position: 'right',
                        show: false
                    },
                    emphasis: {
                        show: true
                    }
                },
                itemStyle: {
                    normal: {
                        color: 'purple'
                    }
                }
            },
             {
                name: '最热门民宿',
                type: 'effectScatter',
                coordinateSystem: 'bmap',
                 data:convertData(mydatatop5),
                 symbolSize: 20,
                showEffectOn: 'render',
                rippleEffect: {
                    brushType: 'stroke'
                },
                hoverAnimation: true,
                label: {
                    normal: {
                        formatter: '{b}',
                        position: 'right',
                        show: true
                    }
                },
                itemStyle: {
                    normal: {
                        color: 'purple',
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                zlevel: 1
            }
        ]
        };

    myChart.setOption(Option);

</script>
</body>
</html>