<!DOCTYPE html>
	<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <script src="/static/echartsJs/echarts.min.js"></script>
	    <title>ECharts</title>
	</head>
	<body>
	    <div id="main" style="width: 1250px;height:600px;"></div>
	<script>
	    var useridAndmovie=new Array();
	    var pref=new Array();
	    parsinfor();
	        function parsinfor() {
	            {% for val in shares %}
	                //分别取值放到数组中
                    useridAndmovie.push("{{ val.id }}"+"--"+"{{ val.moviename }}");
                    pref.push("{{ val.pref }}");
	            {% endfor %}
	        }
	</script>
	<script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        option={

            tooltip : {
                trigger: 'axis',
                axisPointer : {
                    type : 'shadow',
                    label: {
                        show: true
                    }
                }
            },

            toolbox:{
                show:true,
                feature : {
                    mark : {show: true},
                    dataZoom:{show: true},
                    dataView : {show: true, readOnly: false},
                    magicType: {show: true},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },

             grid: {
                top: '14%',
                left: '1%',
                right: '15%',
                containLabel: true
            },

            title:{
                text:'电影推荐结果可视化',
                subtext:'此数据集包含了1682部电影，和943位用户的100000个评分。通过基于用户的推荐算法，为各个用户推荐一部电影。'
            },

            dataZoom: [

                {
                    show: true,
                    start: 80,
                    end: 100
                },
                {
                    type: 'inside',
                    start: 80,
                    end: 100
                },

                {
                    show: true,
                    yAxisIndex: 0,
                    filterMode: 'empty',
                    width: 30,
                    height: '70%',
                    showDataShadow: false,
                    left: '93%',
					start: 0,
                    end: 1
                }
            ],

            xAxis:[
                {
                    name:"评分",
                    type:'value'
                }
            ],

            yAxis:[
                {
                   name:"用户ID--推荐电影",
                   type:'category',
                   data:useridAndmovie
                }
            ],

            series:[
                {
                    name:"给该用户推荐的这部电影的评分为",
                    type:'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data:pref
                }
            ]
        };

        myChart.setOption(option);
    	</script>
	</body>
	</html>