<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/echartsJs/echarts.min.js"></script>
    <title>echarts</title>
</head>
<body>
    <div id="main" style="width: 1250px;height:600px;"></div>
<script type="text/javascript">
     var myChart = echarts.init(document.getElementById('main'));
     option = {

         title: [
           {
              text: '商品浏览量Top5',
              subtext: '根据retailrocket网站行为数据分析出浏览量最高的前5个商品，数据集中的所有文本值都是被hash过的',
              x: '25%',
              textAlign: 'center'
           },
           {
              text: '被加入购物车的商品Top5',
              subtext: '根据retailrocket网站行为数据分析出浏览量最高的前5个商品，数据集中的所有文本值都是被hash过的',
              x: '75%',
              textAlign: 'center'
           },
           {
              text: '商品交易量Top5',
              subtext: '根据retailrocket网站行为数据分析出浏览量最高的前5个商品，数据集中的所有文本值都是被hash过的',
              x: '75%',
              y: '50%',
              textAlign: 'center'
           }
         ],
         tooltip:{
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
         },

         series :[
             {
                 name: '商品',
                     type: 'pie',
                     radius: '35%',
                     center: ['75%', '80%'],
                     data: [
                         {% for val in shares_trans %}
                             {value: "{{ val.count }}", name: {{ val.itemid }}+"--"+"{{ val.property }}"},
                         {% endfor %}
                     ],
                     itemStyle: {
                         emphasis: {
                             shadowBlur: 10,
                             shadowOffsetX: 0,
                             shadowColor: 'rgba(0, 0, 0, 0.5)'
                         }
                     }
             },
             {
                 name: '商品',
                     type: 'pie',
                     radius: '35%',
                     center: ['75%', '30%'],
                     data: [
                         {% for val in shares_cart %}
                             {value: "{{ val.count }}", name: {{ val.itemid }}+"--"+"{{ val.property }}"},
                         {% endfor %}
                     ],
                     itemStyle: {
                         emphasis: {
                             shadowBlur: 10,
                             shadowOffsetX: 0,
                             shadowColor: 'rgba(0, 0, 0, 0.5)'
                         }
                     }
             },
             {
                name: '商品',
                     type: 'pie',
                     radius: '55%',
                     center: ['26%', '40%'],
                     data: [
                         {% for val in shares_view %}
                             {value: "{{ val.count }}", name: {{ val.itemid }}+"--"+"{{ val.property }}"},
                         {% endfor %}
                     ],
                     itemStyle: {
                         emphasis: {
                             shadowBlur: 10,
                             shadowOffsetX: 0,
                             shadowColor: 'rgba(0, 0, 0, 0.5)'
                         }
                     }
             }

         ]
     };
 myChart.setOption(option);

</script>
    </body>
    </html>